@if (plant != null) {
<div class="plant-status">
    <h1 #plantNameHeading id="plant_title" contenteditable="true" (keypress)="renamePlant($event)">{{ plant.name }}</h1>
    <!-- <script>
        // TODO: EXPORT TO COMPONENT METHOD
        const h1 = document.getElementById("plant_title");

        h1.addEventListener("keydown", function (event) {
            if (event.key === "Enter") {
                event.preventDefault();
                renamePlant(h1.textContent);
            }
        });

        function renamePlant(newName) {
            const plantId = window.location.pathname.split("/").pop();
            const formData = new FormData();
            formData.append("new_name", newName);

            fetch(`/rename/${plantId}`, {
                method: "POST",
                body: formData,
            })
                .then((response) => {
                    if (response.redirected) {
                        window.location.href = response.url; // Follow the redirect manually
                    }
                })
                .catch((error) => {
                    console.error("Error renaming plant:", error);
                });
        }
    </script> -->

    <app-plant-image [plant]="plant" />

    <div class="watering-info">
        @if (plant.lastWatered == null) {
        <p>This plant has never been watered.</p>
        } @else {

        <p>Last watered: {{ plant.lastWatered | date : "fullDate" }}</p>

        <p>
            Days since last watering:
            <span
                [style.color]="
                    plant.lastWatered | computeWateredDaysAgo | valueToColor
                "
            >
                {{ plant.lastWatered | computeWateredDaysAgo }}
            </span>
        </p>
        }
    </div>

    <div>
        <div class="datetime-picker">
            <label
                >When did you water this plant?
                <input type="date" [(ngModel)]="selectedDate" />
            </label>
        </div>
        <button class="water-button" (click)="waterPlant()">
            Log Watering
        </button>
    </div>
    <div class="qr-info">
        <h2>QR Code Information</h2>
        <p>Paste this into a QR code generator and stick it on it's pot</p>
        <p class="qr-url">{{ baseUrl }}{{ router.url }}</p>
    </div>

    <div class="button-container">
        <button routerLink="">Back to Plants</button>
        <button class="button delete-button" (click)="deletePlant()">
            Delete {{ plant.name }}
        </button>
    </div>
</div>
}
